tensorflow-macos==2.14.0
tensorflow-metal==1.0.0  # GPU support for Mac
pandas 
dvc
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
keras==2.14.0
tensorboard==2.14.0
ml-dtypes==0.2.0
-e .